<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create"> New Celebrity</a>
<a href="/celebrities"> Check all celebrities</a>

<a href="/movies/create"> New Movie</a>
<a href="/movies"> Check out these movies</a>