<h2>Unhappy with these movies? Add your favorites!</h2>

<form method = 'POST' action = '/movies/create'>
  <div class="mb-3">
    <label class="form-label" >Title</label>
    <input class="form-control" type="text" name="name">
    <br>
    <label class="form-label" >Gender</label>
    <input class="form-control" type="text" name="gender">
    <br>
    <label class="form-label" >Plot</label>
    <input class="form-control" type="text" name="plot">
    <br>
    <label class="form-label" >Cast</label>
    <input class="form-control" type="text" name="cast" >
    <br>
    <button class="btn btn-primary" type="submit">ADD</button>
  </div>
</form>